
.navigation {
    float: right;
    margin-top: 30px;
    height: 100%;
}

.navigation a{
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
    background-color: #101010;
}

.navigation a li{
    vertical-align: middle;
    display: table-cell;
    font-size: 20px;
    color: white;
}

.navigation a:hover{
    background-color: gray;
    color: #101010;
}

.inner-header {
    padding: 2px;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
    background-color: #101010;
}

.logo-container h1{
    color: #ffffff;
    padding-left: 10px;
}

.content ul li{
    list-style-type: none;
    underline: none;

}

.content a{
    text-decoration: none;
}

img {
    border-radius: 10px;
}

footer {
    background-color: #101010;
    color: #ffffff;
    padding: 4px;
    margin-bottom: -10px;
    margin-left: -10px;
    margin-right: -10px;
}
